/* omoss */

.omoss {
    padding-top: 50px;
}

.omoss_title {
    color: var(--black);
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 20px;
    letter-spacing: 0.3px;
    text-align: center;
}

@media (max-width: 1280px) {
    .omoss {
        padding-top: 20px;
    }
}

@media (max-width: 420px) {
    .omoss_title {
        font-size: 17px;
    }
}

/* omoss */

/* stegsmetod */

.stegsmetod {
    padding-top: 50px;
}

.stegsmetod_title {
    color: var(--black);
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.stegsmetod_wrap {
    display: flex;
    justify-content: center;
    gap: 0 50px;
}

.stegsmetod_item {
    width: 162px;
    height: 190px;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    text-align: center;
    padding: 0 20px;
}

.stegsmetod_item_img {
    padding-top: 30px;
}


.stegsmetod_item_img svg {
    height: 35px;
    width: 35px;
}

.stegsmetod_item_title {
    color: var(--while);
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stegsmetod_item_text {
    color: var(--while);
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 12px;
}

.kontakt_wrap {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.kontakt_btn {
    padding: 7px 0;
    width: 202px;
    text-align: center;
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: 25px;
    text-decoration: none;
    background-color: var(--grey);
    color: var(--while);
    transition: background-color 0.8s;
}

.kontakt_btn:hover { 
    background-color: #0C356A;
}

@media (max-width: 1280px) {
    .stegsmetod {
        padding-top: 20px;
    }

    .stegsmetod_title {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .stegsmetod_wrap {
        gap: 20px 20px;
        flex-wrap: wrap;
    }

    .kontakt_wrap {
        padding-top: 20px;
    }
}

@media (max-width: 880px) {
    .stegsmetod_title {
        font-size: 31px;
    }
}

@media (max-width: 463px) {
    .stegsmetod_wrap {
        gap: 20px 0;
    }

    .stegsmetod_item {
        width: 300px;
        height: auto;
        padding: 0 10px;
    }
    
    .stegsmetod_item_img {
        padding-top: 25px;
    }
    
    .stegsmetod_item_title {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .stegsmetod_item_text {
        padding-bottom: 25px;
    }
}

@media (max-width: 420px) {
    .stegsmetod_title {
        font-size: 28px;
    }
}

/* stegsmetod */

/* tjenster */

.tjenster {
    padding: 50px 0;
}

.tjenster_wrap {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}

.tjenster_item_r,
.tjenster_item_l {
    display: flex;
    justify-content: center;
    gap: 0 10px;
}

.tjenster_item_content {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.tjenster_item_title {
    color: var(--black);
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 40px;
    line-height: 29px;
}

.tjenster_item_r .tjenster_item_content {
    text-align: right;
    align-items: end;
}

.tjenster_item_l .tjenster_item_content {
    text-align: left;
    align-items: start;
}

.tjenster_item_text {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.tjenster_item_text div {
    color: var(--black);
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 20px;
}

.tjenster_item_link {
    padding: 7px 10px 7px 10px;
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: var(--grey);
    color: var(--while);
    transition: background-color 0.8s;
}

.tjenster_item_link:hover { 
    background-color: #0C356A;
}

.tjenster_item_img {
    width: 600px;
    height: 380px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 1280px) {
    .tjenster {
        padding: 20px 0;
    }

    .tjenster_wrap {
        gap: 20px 0;
    }
}

@media (max-width: 880px) {
    .tjenster_item_title {
        font-size: 31px;
        line-height: 21px;
    }
}

@media (max-width: 700px) {
    .tjenster_item_l {
        gap: 20px 0;
        flex-direction: column;
    }

    .tjenster_item_r {
        gap: 20px 0;
        flex-direction: column-reverse;
    }

    .tjenster_item_img {
        width: 100%;
        height: 300px;
    }

    .tjenster_item_content {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .tjenster_item_text div {
        font-size: 17px;
    }

    .tjenster_item_content {
        gap: 15px 0;
    }
}

@media (max-width: 350px) {
    .tjenster_item_title {
        font-size: 28px;
        line-height: 28px;
    }
}

/* tjenster */

/* glide */

.glide {
    overflow: hidden;
    padding-bottom: 50px;
}

.glide__slides {
    display: flex;
}

.glide__slide {
    height: 550px;
}

.glide__bullets {
    display: flex;
    justify-content: center;
    gap: 0 20px;
    padding-top: 20px;
}

.glide__bullet {
    width: 10px;
    height: 10px;
    border: solid 1px var(--grey);
    /* border-radius: 100%; */
    cursor: pointer;
}

.glide__bullet--active {
    background-color: var(--grey);
}

.glide__btn__wrap {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.glide__btn {
    padding: 7px 10px 7px 10px;
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: var(--grey);
    color: var(--while);
    transition: background-color 0.8s;
}

.glide__btn:hover { 
    background-color: #0C356A;
}

@media (max-width: 1280px) {
    .glide {
        padding-bottom: 20px;
    }

    .glide__btn__wrap {
        padding-top: 20px;
    }
}

@media (max-width: 700px) {
    .glide__slide {
        height: 450px;
    }
}

@media (max-width: 350px) {
    .glide__bullets {
        gap: 0 12px;
    }

    .glide__slide {
        height: 390px;
    }
}

@media (min-width: 1280px) {
    .glide__bullet:nth-last-child(-n+2) {
        display: none;
    }
}

@media (min-width: 700px) {
    .glide__bullet:last-child {
        display: none;
    }
}

/* glide */