/* content */

.content {
    padding: 50px 0;
}

.content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_title {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 40px;
    color: var(--black);
    margin-bottom: 50px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input, 
textarea {
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 15px;
    color: var(--black);
    outline: none;
    border: solid 1px var(--grey);
    border-bottom: none;
    border-radius: 0;
}

textarea {
    min-width: 470px;
    max-width: 470px;
    min-height: 180px;
    max-height: 260px;
    padding-top: 15px;
}

#form-button {
    width: 502px;
    height: 50px;
    padding: 0;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 15px;
    background-color: var(--grey);
    border: solid 1px var(--grey);
    color: var(--while);
    outline: none;
    cursor: pointer;
    transition: background-color 0.8s;
}

#form-button:hover { 
    background-color: #0C356A;
}

#form-status:empty {
    display: none;
}

#form-status {
    width: 500px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 14px;
    color: var(--black);
    background-color: #ffffff;
    border: solid 1px var(--grey);
    border-top: none;
    text-align: center;
}

@media (max-width: 580px) {
    .content {
        padding: 20px 0;
    }

    .form_title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    input {
        width: calc(100% - 32px);
    }

    textarea {
        min-width: calc(100% - 32px);
        max-width: calc(100% - 32px);
    }

    #form-button {
        width: 100%;
    }

    #form-status {
        width: calc(100% - 2px);
    }
}

/* content */