/* cards */

.cards {
    padding: 65px 0;
}

.cards_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.cards_wrap a {
    display: block;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s;
}

.cards_wrap a:hover {
    opacity: 0.6;
}

.cards_wrap a h4 {
    color: var(--black);
    font-family: 'Montserrat Bold', sans-serif;
    font-style: italic;
    font-size: 40px;
    margin: 0 0 10px 0;
    padding: 0;
}

.cards_wrap a div {
    width: 540px;
    height: 370px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .cards {
        padding: 45px 0;
    }

    .cards_wrap {
        gap: 40px;
    }

    .cards_wrap a h4 {
        font-size: 35px;
        margin: 0 0 7px 0;
    }

    .cards_wrap a div {
        width: 350px;
        height: 230px;
    }
}

@media (max-width: 390px) {
    .cards {
        padding: 35px 0;
    }

    .cards_wrap {
        gap: 35px;
    }

    .cards_wrap a h4 {
        font-size: 30px;
        margin: 0 0 5px 0;
    }

    .cards_wrap a div {
        width: 300px;
        height: 197px;
    }
}

/* cards */