@font-face { font-family: 'Montserrat Black'; font-weight: 900; font-style: normal; src: url('./static/Montserrat-Black.ttf') format('truetype') }
@font-face { font-family: 'Montserrat Black Italic'; font-weight: 900; font-style: italic; src: url('./static/Montserrat-BlackItalic.ttf') format('truetype') }

@font-face { font-family: 'Montserrat Extra Bold'; font-weight: 800; font-style: normal; src: url('./static/Montserrat-ExtraBold.ttf') format('truetype') }
@font-face { font-family: 'Montserrat Extra Bold Italic'; font-weight: 800; font-style: italic; src: url('./static/Montserrat-ExtraBoldItalic.ttf') format('truetype') }

@font-face { font-family: 'Montserrat Bold'; font-weight: 700; font-style: normal; src: url('./static/Montserrat-Bold.ttf') format('truetype') }
@font-face { font-family: 'Montserrat Bold Italic'; font-weight: 700; font-style: italic; src: url('./static/Montserrat-BoldItalic.ttf') format('truetype') }

@font-face { font-family: 'Montserrat Semi Bold'; font-weight: 600; font-style: normal; src: url('./static/Montserrat-SemiBold.ttf') format('truetype') }
@font-face { font-family: 'Montserrat Semi Bold Italic'; font-weight: 600; font-style: italic; src: url('./static/Montserrat-SemiBoldItalic.ttf') format('truetype') }

@font-face { font-family: 'Montserrat Medium'; font-weight: 500; font-style: normal; src: url('./static/Montserrat-Medium.ttf') format('truetype') }
@font-face { font-family: 'Montserrat Medium Italic'; font-weight: 500; font-style: italic; src: url('./static/Montserrat-MediumItalic.ttf') format('truetype') }

@font-face { font-family: 'Montserrat Regular'; font-weight: 400; font-style: normal; src: url('./static/Montserrat-Regular.ttf') format('truetype') }
@font-face { font-family: 'Montserrat Regular Italic'; font-weight: 400; font-style: italic; src: url('./static/Montserrat-Italic.ttf') format('truetype') }

@font-face { font-family: 'Montserrat Light'; font-weight: 300; font-style: normal; src: url('./static/Montserrat-Light.ttf') format('truetype') }
@font-face { font-family: 'Montserrat Light Italic'; font-weight: 300; font-style: italic; src: url('./static/Montserrat-LightItalic.ttf') format('truetype') }
