/* header */

header {
  height: 900px;
  width: 100%;
  display: flex; justify-content: center; align-items: center;
  background-image: url('../../img/tjenster/1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
  padding: 0;
  font-family: 'Montserrat Black', sans-serif;
  font-size: 100px;
  color: var(--while);
}

@media (max-width: 1020px) { header { height: 800px; } header h1 { font-size: 70px; } }
@media (max-width: 750px) { header { height: 600px; } header h1 { font-size: 50px; } }
@media (max-width: 390px) { header { height: 400px; } header h1 { font-size: 35px; } }

/* header */

